@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');
$orange: #EDB97E;
$backgroundBlue: #789FCC;
$textColor: white;
$backgroundBlack: rgba(0,0,0,0.85);
$dropShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$fontMon: 'Montserrat', sans-serif;
$fontRob: 'Roboto', sans-serif;